# Robot Framework output files
output.xml
log.html
report.html
*.log
*.xml
*.html

# Playwright and Browser logs
playwright-log.txt

# Robot Framework debug and temp files
*.db
*.sqlite
*.tmp
.DS_Store

# VSCode settings and Python cache
.vscode/
__pycache__/
*.pyc

# Ignore environment files